@model MovieDetailsViewModel

<h2>@Model.Title</h2>
<p>Genre: @Model.Genre</p>
<p>Language: @Model.Language</p>
<p>Relise date: @Model.ReleaseDate</p>
<p>Duration: @Model.Length</p>
<p>Recomended to watch only if you are @Model.AgeRestriction years old and above</p>
<p>On stock: @Model.Quantity</p>

@if (Model.IsAvailable)
{
    <form asp-action="Rent" asp-route-movieId="@Model.Id" method="post">
        <button type="submit" class="btn btn-success">Rent</button>
    </form>
}
else
{
    <p class="text-danger">Not available</p>
}

<h4>Cast</h4>
<ul>
    @foreach(var castMemders in Model.Cast)
    {
        <li>@castMemders.Name - @castMemders.Part</li>
    }
</ul>